<!-- Header Start -->
<div class="container-fluid bg-primary p-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="text-center mb-5">
                <h1 class="display-3 text-white animated slideInDown">Quên mật khẩu</h1>
            </div>
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.3s">
                <form action="">
                    <div class="form-floating mb-5">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Tài khoản"
                            ng-model="username">
                        <label for="floatingInput">Tài khoản</label>
                    </div>
                    <div class="form-floating mb-5 input-group">
                        <input type="email" class="form-control" id="floatingPassword" placeholder="Email"
                            ng-model="email">
                        <label for="floatingPassword">Email</label>
                    </div>

                    <a href="" class="btn btn-primary me-2" ng-click="forgotPassword()">Xác nhận</a>
                    <!-- <button class="btn btn-secondary" type="button" id="button-addon2" ng-click="forget()">Forget
                        password?</button> -->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->